.passwords{
    text-align: center;
}

.field_password{
    margin-top: 2;
}

.password_home{
    margin-top: 50px;
}

.password_home a{
    color: #007EFF;
    text-decoration: none;

}

/*---------thanks-----------*/

.thanks{
    text-align: center;
}