<div class="thanks">

<div class="top_container">
  <div class="password_home">
    <a href="/plans/toppage">HOME</a>
  </div>
  <div class="MrRouteImage">
    <img src="/assets/MrRoute.jpg" alt="logo" width="200" height="200">
  </div>

</div>

<p>ご登録のメールアドレスにメールを送信いたしました。<br>
お手数ですがメールに記載ございますURLより初回ログインをお願い致します。<p>

<div>